<h2 mat-dialog-title>Generar nuevo viaje</h2>
<form (ngSubmit)="OnSubmit()" #userForm="ngForm">
<mat-dialog-content class="mat-typography ">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
          <mat-form-field>
            <mat-label>N° manifiesto</mat-label>
            <input   matInput name="viaje_num_manifiesto" [(ngModel)]="routes.viaje_num_manifiesto">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <mat-form-field>
            <input matInput name="viaje_fecha_manifiesto" [(ngModel)]="routes.viaje_fecha_manifiesto" [matDatepicker]="manifPicker" placeholder="Fecha manifiesto" >
            <mat-datepicker-toggle matSuffix [for]="manifPicker"></mat-datepicker-toggle>
            <mat-datepicker #manifPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <mat-form-field>
            <mat-label>Placa vehiculo</mat-label>
            <input name="viaje_placa" [(ngModel)]="routes.viaje_placa" matInput>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <mat-form-field>
          <mat-label>Lugar inicio</mat-label>
          <input name="viaje_destino_inicio" [(ngModel)]="routes.viaje_destino_inicio" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-12">
        <mat-form-field>
          <mat-label>Lugar destino</mat-label>
          <input name="viaje_destino_llegada" [(ngModel)]="routes.viaje_destino_llegada" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-12">
        <mat-form-field>
          <input matInput name="viaje_fecha_inicio"  [(ngModel)]="routes.viaje_fecha_inicio" [matDatepicker]="startPicker" placeholder="Fecha inicio" >
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <mat-form-field>
          <mat-label>Km salida</mat-label>
          <input name="viaje_km_salida" [(ngModel)]="routes.viaje_km_salida" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-12">
        <mat-form-field>
          <mat-label>Km llegada</mat-label>
          <input name="viaje_km_llegada" [(ngModel)]="routes.viaje_km_llegada" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-12">
        <mat-form-field class="w-100">
          <mat-label>asignar conductor</mat-label>
          <mat-select name="fo_viaje_usuario" [(ngModel)]="routes.fo_viaje_usuario">
            <mat-option *ngFor="let driver of drivers" [value]="driver.usuario_id">
              {{ driver.nombre_usuario }}
            </mat-option>
          </mat-select>
        </mat-form-field>        
        <mat-form-field [hidden]="false">
          <input name="fo_viaje_usuario_hidden" [(ngModel)]="routes.fo_viaje_usuario"   matInput>
        </mat-form-field>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <mat-form-field class="w-100">
          <mat-label>Subir planillas (PDF O IMAGEN)</mat-label>
          <input name="viaje_planilla" matInput type="file" (change)="getFile($event)" placeholder="Subir planillas" accept="image/*,.pdf">
        </mat-form-field>        
      </div>
      <div class="col-md-6 col-12">
          <mat-form-field class="w-100">
            <mat-label>asignar transportadora</mat-label>
            <mat-select name="fo_viaje_transportadora" [(ngModel)]="routes.fo_viaje_transportadora">
              <mat-option *ngFor="let carrier of carriers" [value]="carrier.transportadora_id">
                {{ carrier.transportadora_razon_social  }}
              </mat-option>
            </mat-select>
          </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label >Flete</mat-label>
          <input name="viaje_flete" [(ngModel)]="routes.viaje_flete" matInput>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Anticipo</mat-label>
          <input name="viaje_anticipo" [(ngModel)]="routes.viaje_anticipo" matInput>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label>sobrecosto (si hay)</mat-label>
          <input name="viaje_sobrecosto" [(ngModel)]="routes.viaje_sobrecosto" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label >Valor neto a pagar</mat-label>
          <input name="viaje_neto_pago" [(ngModel)]="routes.viaje_neto_pago" matInput>
        </mat-form-field>
      </div>
      <div class="col-12    col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Porcentaje conductor</mat-label>
          <input name="viaje_porcentaje_conductor" [(ngModel)]="routes.viaje_porcentaje_conductor" matInput>
        </mat-form-field>
      </div>
      <div class="col-12    col-md-4 d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Peso bruto (kg)</mat-label>
          <input name="viaje_peso" [(ngModel)]="routes.viaje_peso" matInput>
        </mat-form-field>
      </div>
      
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Observaciones</mat-label>
          <textarea name="viaje_observaciones"  [(ngModel)]="routes.viaje_observaciones" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-button type="submit">Guardar</button>
</mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn-modal">Cerrar</button>
</mat-dialog-actions>